USE [HaiQu]
GO
/****** Object:  Table [dbo].[t_alias_session]    Script Date: 2019/9/19 14:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_alias_session](
	[fid] [nchar](10) NULL,
	[faliasname] [nvarchar](50) NULL,
	[fsession] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_appinfo]    Script Date: 2019/9/19 14:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_appinfo](
	[fid] [int] NULL,
	[fappnum] [nvarchar](50) NOT NULL,
	[fapplogo] [nvarchar](50) NULL,
	[fappname] [nvarchar](50) NOT NULL,
	[fappver] [nvarchar](50) NULL,
	[fenable] [int] NOT NULL CONSTRAINT [DF_t_appinfo_fenable]  DEFAULT ((0)),
	[fischeck] [int] NULL CONSTRAINT [DF_t_appinfo_fischeck]  DEFAULT ((0)),
	[fmachine] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_appinfo] PRIMARY KEY CLUSTERED 
(
	[fappnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_incomeanaly]    Script Date: 2019/9/19 14:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_incomeanaly](
	[fid] [nchar](10) NULL,
	[fincomeflag] [nvarchar](50) NULL,
	[fsession] [nvarchar](50) NULL,
	[fappname] [nvarchar](50) NULL,
	[fmoney] [nvarchar](50) NULL,
	[fcoin] [nvarchar](50) NULL,
	[fanaly_time] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_incomeflag]    Script Date: 2019/9/19 14:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_incomeflag](
	[fid] [nchar](10) NULL,
	[fincomeflag] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[t_licence]    Script Date: 2019/9/19 14:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_licence](
	[fid] [int] NULL,
	[fsn] [nvarchar](50) NOT NULL,
	[fsession] [nvarchar](50) NULL,
	[fupsession_time] [datetime] NULL,
	[fout_storage] [int] NULL CONSTRAINT [DF_t_licence_fout_storage]  DEFAULT ((0)),
	[fout_storage_time] [datetime] NULL,
	[freg_time] [datetime] NULL,
	[fpayment_time] [datetime] NULL,
	[fsnlevel] [int] NULL,
	[fexpire_time] [nchar](10) NULL,
	[fdevice_imei] [nchar](10) NULL,
 CONSTRAINT [PK_t_licence] PRIMARY KEY CLUSTERED 
(
	[fsn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[t_appinfo] ([fid], [fappnum], [fapplogo], [fappname], [fappver], [fenable], [fischeck], [fmachine]) VALUES (NULL, N'002', NULL, N'北京知天下', NULL, 1, 1, N'phy')
INSERT [dbo].[t_appinfo] ([fid], [fappnum], [fapplogo], [fappname], [fappver], [fenable], [fischeck], [fmachine]) VALUES (NULL, N'009', NULL, N'优看点', NULL, 1, 1, N'phy')
INSERT [dbo].[t_appinfo] ([fid], [fappnum], [fapplogo], [fappname], [fappver], [fenable], [fischeck], [fmachine]) VALUES (NULL, N'012', NULL, N'盈贝头条', NULL, 0, 0, N'phy')
INSERT [dbo].[t_incomeanaly] ([fid], [fincomeflag], [fsession], [fappname], [fmoney], [fcoin], [fanaly_time]) VALUES (NULL, N'994983', N'77abda884b8b979e', N'氪资讯', N'0.1836', N'0', CAST(N'2019-08-05 00:55:18.373' AS DateTime))
INSERT [dbo].[t_incomeanaly] ([fid], [fincomeflag], [fsession], [fappname], [fmoney], [fcoin], [fanaly_time]) VALUES (NULL, N'1656738', N'e78f61d7b50c2d06', N'氪资讯', N'0.0', N'1784', CAST(N'2019-08-05 01:32:04.223' AS DateTime))
INSERT [dbo].[t_incomeanaly] ([fid], [fincomeflag], [fsession], [fappname], [fmoney], [fcoin], [fanaly_time]) VALUES (NULL, N'928413', N'e78f61d7b50c2d06', N'氪资讯', N'0.0', N'0', CAST(N'2019-08-05 00:51:36.440' AS DateTime))
INSERT [dbo].[t_incomeflag] ([fid], [fincomeflag]) VALUES (NULL, N'1656738')
INSERT [dbo].[t_incomeflag] ([fid], [fincomeflag]) VALUES (NULL, N'1685307')
INSERT [dbo].[t_incomeflag] ([fid], [fincomeflag]) VALUES (NULL, N'1708251')
INSERT [dbo].[t_licence] ([fid], [fsn], [fsession], [fupsession_time], [fout_storage], [fout_storage_time], [freg_time], [fpayment_time], [fsnlevel], [fexpire_time], [fdevice_imei]) VALUES (NULL, N'006177217a4d43a4b9d4', N'bbef687ac4c66235', CAST(N'2019-08-07 12:11:40.020' AS DateTime), 1, NULL, CAST(N'2019-08-07 12:11:40.020' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[t_licence] ([fid], [fsn], [fsession], [fupsession_time], [fout_storage], [fout_storage_time], [freg_time], [fpayment_time], [fsnlevel], [fexpire_time], [fdevice_imei]) VALUES (NULL, N'009e21a9ac85463e9cb5', N'453fe6b827aeb81a', CAST(N'2019-08-07 12:14:17.510' AS DateTime), 1, NULL, CAST(N'2019-08-07 12:14:17.510' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[t_licence] ([fid], [fsn], [fsession], [fupsession_time], [fout_storage], [fout_storage_time], [freg_time], [fpayment_time], [fsnlevel], [fexpire_time], [fdevice_imei]) VALUES (NULL, N'00a83e3c87594d3da6be', N'8ee1d0b37b94057e', CAST(N'2019-09-04 09:38:52.923' AS DateTime), 1, NULL, CAST(N'2019-09-04 09:38:52.923' AS DateTime), NULL, NULL, NULL, NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'开关量 1表示开启 0表示关闭' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N't_appinfo', @level2type=N'COLUMN',@level2name=N'fenable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1表示参与检测 0表示不参与检测 cloud_check.js根据该字段的开关，来检测目标云端js json jpg apk是否正常' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N't_appinfo', @level2type=N'COLUMN',@level2name=N'fischeck'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'机器类型 vm表示在虚拟机下刷 phy表示物理机器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N't_appinfo', @level2type=N'COLUMN',@level2name=N'fmachine'
GO
