* {
	touch-action: pan-y;
}

html {
	height: 100%;
}

body {
	background-size: 100% 100%;
	background-image: url(../images/mainBg.jpg);
	/* 刮卡页面背景图 */
	overflow: hidden;
}

.btnHeadBack {
	margin-top: 1.25rem;
	margin-left: 1.25rem;
	position: relative;
	color: #fff;
}

.draw {
	margin-top: 15rem;
	width: 100%;
	height: 10.5rem;
	text-align: center;
	line-height: 10.5rem;
	/* 	height: 40rem; */
	/* 	position: relative; */
	/* 	display: flex;
	justify-content: center;
	align-items: center; */
}

.draw img {
	width: 100%;
}

.draw span {
	position: absolute; 
	display: block; 
	width: 100%;
	z-index: 0.5;
	/* margin-top: -3rem; */
	/* 	left: 0;
	top: 2rem; */
	color: #E63634;
	/* 文字颜色 */
	font-weight: bold;
	text-align: center;
}

/* 提示框样式 */
.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
	text-align: center;
	/* 提示框文本居中 */
}
.alert-success {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/* .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
} */
