/* html页面整体 */
html {
	height: 100%;
}
/* body整体 */
body {
	background-size: 100% 100%;
	background-image: url(../images/1.jpg);
	/* 注册页面背景图 */
}
/* 大标题 */
.regTitle {
	width: 100%;
	height: 18rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.regTitle span {
	font-size: 1.5rem;
	font-weight: bold;
	color: cadetblue;
}
/* 输入区域整体 */
.regForm {
	background-color: transparent;
	padding: 0 1rem;
}
/* 手机号 */
.phone{
	color: cadetblue;
}
.phone input{
	color: cadetblue;
}
/* 验证码 */
.code{
	color: cadetblue;
}
.code input{
	color: cadetblue;
}
/* 按钮整体 */
.btnRow{
	margin-top: 1.25rem;
}
/* 登录按钮 */
.btn1{
	width: 40%;
	height: 3rem;
	background-color:skyblue;
	color: #fff;
}
/* 短信按钮 */
#btnCode{
	width: 40%;
	height: 3rem;
	background-color: coral;
	color: #fff;
}
/* 提示框样式 */
.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
	text-align: center;
}
.alert-success {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/* .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
 */
